body {
  font-family: Times New Roman, sans-serif;
  background-color: #fffcfe;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #03070b;
  margin-bottom: 30px;
}

.topnav {
  overflow: hidden;
  background-color: #e1a4ca;
  margin-bottom: 20px;
  border-radius: 5px;
}

.topnav a {
  float: left;
  color: #1e1c1c;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  font-weight: bold;
}

.links a {
  display: block;
  margin: 10px auto;
  color: #1e1c1c;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  color: #e91e63;
}

.blog-post {
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  text-align: left;   

.blog-post h2 {
  margin-top: 0;
  color: #1e1c1c;
}

.blog-post p {
  margin-bottom: 10px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  color: #e14ca4;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}
